<div class="container">

  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Operations</th>
    </thead>
  
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
        <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-success" (click)="newUser()">New User</button>

</div>
